<div class="jumbotron">
  <h1 style="text-align: center;">RailsChat</h1>
  <div class="well" id="chatbox" style="height: 250px; border: #730E15 solid 1px; overflow-y: scroll;">
    <% @messages.each do |message| %>
      <%= render '/messages/message', message: message %>
    <% end %>
  </div>
  <%= form_with model: @message do |f| %>
    <div class="input-group mb-3">
      <%= f.text_field :body, placeholder: "Say something ...", class:"form-control" %>
      <div class="input-group-append">
        <%= f.submit "Send", class:"btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
